## Python Data Types Challenge

> Handling common [Python Data Types](https://www.w3schools.com/python/python_datatypes.asp).

1. ##### Remember to onboard a problem solving process and engage your community!

2. ##### Use `print()` to output your solutions. E.g. printing out all the data types in the `random_list`:

In [1]:
random_list = ["1", 2, 3.00, [4, 5], {"number": 6.0}]

data_types = [type(item) for item in random_list]

print(data_types)

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'list'>, <class 'dict'>]

### Strings (str)

In [2]:
name = "Lionel Messi"

# Return a first name
first_name = name.split()[0]
print(first_name)

# Return a last name
last_name = name.split()[-1]
print(last_name)

# Return the name in lowercase
print(name.lower())

# Remove the space inbetween the name
print(name.replace(" ",""))

# Print the name out like so: "Messi, Lionel"
print(last_name.strip(),",",first_name.strip())

# WHY ARE THERE SPACES IN THE LAST OUTPUT, EVEN WHEN I USE STRIP?

Lionel
Messi
lionel messi
LionelMessi
Messi , Lionel

### Numbers (int, float)

In [3]:
mass_kg = "50kg"
time_secs = 7
velocity_ms = 12.35

# Return Acceleration (velocity / time)
acceleration = velocity_ms / time_secs
print("Acceleration is",acceleration," m/s^2")

# Format mass_kg variable into a float (e.g. 50.00)
mass_float = float(mass_kg.replace("kg",""))
print("Mass is","{:.2f}".format(mass_float)," kg")

# Return Force (mass * acceleration)
force = mass_float * acceleration
print("Force is: ",force," N")

# Round force down to three decimal places
print("or to 3 d.p.","{:.3f}".format(force),"N")

Acceleration is 1.7642857142857142  m/s^2
Mass is 50.00  kg
Force is:  88.21428571428571  N
or to 3 d.p. 88.214 N

### Lists (list)

In [21]:
import numpy as np # for generating random list of integers

ls = list(np.random.randint(100, size=(50)))

# Return the 10th number in the list
print("The 10th number in the list is: ",ls[9])

# Return the last 10 numbers in the list
print("The last 10 numbers in the list are: ",ls[-10:])

# Sum the numbers in the list
print("The sum of all the numbers in the list is: ",sum(ls))

# Unique the numbers in the list
unique_values = np.unique(ls)
print("The unique values in the list are: ",unique_values)

# Return the largest number
print("The largest number in the list is: ",max(ls))

# Return a sorted list (in reverse)
ls.sort(reverse=True)
print("My reverse sorted list of numbers is: ",ls)
# I TRIED TO CREATE A NEW VARIABLE AND IT DIDN'T WORK

# Loop over each number and append the number to a new list if it is less than or equal too 50
new_ls = []
for item in ls:
    if item >= 50:
        new_ls.append(item)

print("The numbers greater than 50 in this list are: ",new_ls)

The 10th number in the list is:  90
The last 10 numbers in the list are:  [7, 39, 69, 29, 20, 63, 14, 55, 80, 98]
The sum of all the numbers in the list is:  2579
The unique values in the list are:  [ 0  7  9 11 12 14 15 19 20 21 27 28 29 31 37 39 40 41 42 48 49 52 55 56
 59 61 62 63 64 68 69 71 75 77 78 80 84 85 88 90 92 98]
The largest number in the list is:  98
My reverse sorted list of numbers is:  [98, 92, 92, 90, 88, 85, 84, 80, 78, 78, 77, 77, 75, 75, 71, 71, 69, 68, 64, 64, 63, 62, 61, 59, 56, 55, 52, 49, 49, 48, 42, 41, 40, 39, 37, 31, 29, 28, 27, 21, 20, 19, 15, 14, 12, 11, 9, 7, 7, 0]
The numbers greater than 50 in this list are:  [98, 92, 92, 90, 88, 85, 84, 80, 78, 78, 77, 77, 75, 75, 71, 71, 69, 68, 64, 64, 63, 62, 61, 59, 56, 55, 52]

### Dictionaries (dict)

In [39]:
punch_labels = {
    1: 'Jab', 
    2: 'Straight', 
    3: 'Hook', 
    4: 'Uppercut'
}

# Print all the keys
print(punch_labels.keys())

# Print all the values
print(punch_labels.values())

# Print the value for the key 3
print(punch_labels[3])

# Loop and print the value and it's respective key for each key value pair within punch_labels
for key in punch_labels:
    print("Key: ",key, " Type of punch: ",punch_labels[key])

# Create a function the will output the following lists as a series of punches (using the punch_labels)
combo_one = [1,1,3,2,3,4]
combo_two = [1,1,3,2,3,"4"]
combo_three = [1,1,3,5,3,4]

def instruct_punches(combo):
    print("Punch combination:")
    for item in combo:
        if type(item) == int:
            # convert all itemsin the list to integers and print
            print(punch_labels[int(combo_one[item])])


instruct_punches(combo_one)
instruct_punches(combo_two)
instruct_punches(combo_three)

dict_keys([1, 2, 3, 4])
dict_values(['Jab', 'Straight', 'Hook', 'Uppercut'])
Hook
Key:  1  Type of punch:  Jab
Key:  2  Type of punch:  Straight
Key:  3  Type of punch:  Hook
Key:  4  Type of punch:  Uppercut
Punch combination:
Jab
Jab
Straight
Hook
Straight
Hook
Punch combination:
Jab
Jab
Straight
Hook
Straight
Punch combination:
Jab
Jab
Straight
Uppercut
Straight
Hook

### List of Dictionaries

1. ##### Inspect the data within the `data` folder.
2. ##### In this challenge we simply have a dataset containing all the goal scorers (and tallies) in the 2019/20 season.
3. ##### You can see the same data in two different formats. One is `csv` (you can open it up in excel) and one is `json` (you can open it up in any plain text editor). If you have not heard of JSON data before, it is a common data storage/exchange format along with CSV and XML. You can get an indepth introduction to JSON with Pyhon [here](https://www.w3schools.com/python/python_json.asp) (if you havn't already).
4. ##### JSON data shares similar if not identical data formats to Python e.g.

In [56]:
import json

data_file = open('data/epl_goals_19_20.json') # open data file from data folder

epl_goals_databse = json.load(data_file) # deserialising json into native python format/data structures

# Print the data type of the epl_goals_database
print(type(epl_goals_databse))

# Print the second item within the epl_goals_database (should be Aubameyang)
print(epl_goals_databse[1])

# Return the epl_goals_database only containing the first 3 items
first_three_epl_goals_database = epl_goals_databse[0:3]
print(first_three_epl_goals_database)

# Print the name and goals scored of the 10th player in the list
print(epl_goals_databse[9])
print("Name:", epl_goals_databse[9]["Player"],", Goals scored:", epl_goals_databse[9]["Stat"])

# Loop through the list and print out the data for each dict as a newly formatted string, like so: Jamie Vardy, Leicester City, England (23) 
for item in range(len(first_three_epl_goals_database)):
    print(epl_goals_databse[item]["Player"],", ",epl_goals_databse[item]["Club"],", ",epl_goals_databse[item]["Nationality"]," (",epl_goals_databse[item]["Stat"],")")

# WHY ARE THERE SPACES IN MINE?

# Return a list of unique nationalities. Sort the list.
nationalities = []
for item in range(len(epl_goals_databse)):
    nationalities.append(epl_goals_databse[item]["Nationality"])

unique_nationalities = np.unique(nationalities)
# WHY WAS IT ALREADY IN ALPHABETICAL ORDER BEFORE I SORTED IT?
unique_nationalities = sorted(unique_nationalities)
print("Unique nationalities: ",unique_nationalities)

<class 'list'>
{'Rank': 2.0, 'Player': 'Pierre-Emerick Aubameyang', 'Club': 'Arsenal', 'Nationality': 'Gabon', 'Stat': 22}
[{'Rank': 1.0, 'Player': 'Jamie Vardy', 'Club': 'Leicester City', 'Nationality': 'England', 'Stat': 23}, {'Rank': 2.0, 'Player': 'Pierre-Emerick Aubameyang', 'Club': 'Arsenal', 'Nationality': 'Gabon', 'Stat': 22}, {'Rank': 2.0, 'Player': 'Danny Ings', 'Club': 'Southampton', 'Nationality': 'England', 'Stat': 22}]
{'Rank': 8.0, 'Player': 'Marcus Rashford', 'Club': 'Manchester United', 'Nationality': 'England', 'Stat': 17}
Name: Marcus Rashford , Goals scored: 17
Jamie Vardy ,  Leicester City ,  England  ( 23 )
Pierre-Emerick Aubameyang ,  Arsenal ,  Gabon  ( 22 )
Danny Ings ,  Southampton ,  England  ( 22 )
Unique nationalities:  ['Algeria', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Bosnia And Herzegovina', 'Brazil', 'Cameroon', 'Colombia', "Cote D'Ivoire", 'Croatia', 'Cuba', 'Czech Republic', 'Denmark', 'Egypt', 'England', 'Finland', 'France', 'Gabon', 'Germany', 'Ghana', 'Greece', 'Guinea', 'Iceland', 'Iran', 'Ireland', 'Italy', 'Mali', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay', 'Poland', 'Portugal', 'Romania', 'Scotland', 'Senegal', 'Serbia', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Tanzania', 'Turkey', 'Ukraine', 'United States', 'Uruguay', 'Wales']

In [7]:
sorted(list(set([epl_goals_obj['Nationality'] for epl_goals_obj in epl_goals_databse])))

['Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Belgium',
 'Bosnia And Herzegovina',
 'Brazil',
 'Cameroon',
 'Colombia',
 "Cote D'Ivoire",
 'Croatia',
 'Cuba',
 'Czech Republic',
 'Denmark',
 'Egypt',
 'England',
 'Finland',
 'France',
 'Gabon',
 'Germany',
 'Ghana',
 'Greece',
 'Guinea',
 'Iceland',
 'Iran',
 'Ireland',
 'Italy',
 'Mali',
 'Mexico',
 'Morocco',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Northern Ireland',
 'Norway',
 'Paraguay',
 'Poland',
 'Portugal',
 'Romania',
 'Scotland',
 'Senegal',
 'Serbia',
 'South Korea',
 'Spain',
 'Sweden',
 'Switzerland',
 'Tanzania',
 'Turkey',
 'Ukraine',
 'United States',
 'Uruguay',
 'Wales']

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=4eeb6b75-1592-4365-b868-8287cd1872fa' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>